<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.zyd.blog.persistence.mapper.BizFileMapper">
    <resultMap id="rm" type="com.zyd.blog.persistence.beans.BizFile">
        <result property="id" jdbcType="INTEGER" column="id"/>
        <result property="userId" jdbcType="INTEGER" column="user_id"/>
        <result property="originalFileName" jdbcType="VARCHAR" column="original_file_name"/>
        <result property="size" jdbcType="INTEGER" column="size"/>
        <result property="suffix" jdbcType="VARCHAR" column="suffix"/>
        <result property="width" jdbcType="INTEGER" column="width"/>
        <result property="height" jdbcType="INTEGER" column="height"/>
		<result property="area" jdbcType="VARCHAR" column="area"/>
        <result property="filePath" jdbcType="VARCHAR" column="file_path"/>
        <result property="fullFilePath" jdbcType="VARCHAR" column="full_file_path"/>
        <result property="fileHash" jdbcType="VARCHAR" column="file_hash"/>
        <result property="uploadType" jdbcType="VARCHAR" column="upload_type"/>
        <result property="uploadStartTime" jdbcType="TIMESTAMP" column="upload_start_time"/>
        <result property="uploadEndTime" jdbcType="TIMESTAMP" column="upload_end_time"/>
        <result property="storageType" jdbcType="VARCHAR" column="storage_type"/>
        <result property="createTime" jdbcType="TIMESTAMP" column="create_time"/>
        <result property="updateTime" jdbcType="TIMESTAMP" column="update_time"/>
    </resultMap>

	<sql id="Base_Column_List" >
		id,user_id,original_file_name,`size`,`suffix`,`width`,`height`,
		file_path,full_file_path,file_hash,upload_type,upload_start_time,
		upload_end_time,storage_type,create_time,update_time
	</sql>

    <select id="findPageBreakByCondition" parameterType="com.zyd.blog.business.vo.FileConditionVO" resultMap="rm">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			biz_file
		WHERE
			1 = 1
		AND area = 'pict'
		ORDER BY create_time DESC
	</select>

	<select id="queryBizResourceFile" parameterType="java.lang.Integer" resultMap="rm">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			biz_file
		WHERE
			1 = 1
		AND area = 'resource'
		ORDER BY create_time DESC
	</select>


	<select id="findResourceByCondition" parameterType="com.zyd.blog.business.vo.FileConditionVO" resultMap="rm">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			biz_file
		WHERE
			1 = 1
		AND area = 'resource'
		ORDER BY create_time DESC
	</select>

</mapper>

